/* Pour l'entête */
html{
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    margin:0;
    position: relative;
    height: 100%;
}

.leBody{
    min-height: 86.5%;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: orange;
    padding: 20px 20px 7px 20px;
}

.nomEtDeco{
    padding-top: 7px;
}

.logo{
    height: 40px;
    width: 200px;
}

.logo:hover{
    cursor: pointer;
}

.navigationHeader{
    display: flex;
}

.gererCours, .gererQCM, .gererUtil{
    border-radius: 30px;
    background-color: green;
    border: solid green;
    margin-top: 0;
    margin-left: 20px;
    color: white;
    padding: 10px;
    font-size: 19px;
}

.gererCours:hover, .gererQCM:hover, .gererUtil:hover{
    background-color: orange;
    color: green;
    cursor: pointer;
}

.btDeconnexion{
    padding-top: 5px;
}

.btDeconnexion:hover{
    color: red;
    cursor: pointer;
}

.nomEtDeco{
    display: flex;
    justify-content: space-between;
}

.nomPage{
    font-size: 32px;
    margin:0;
}

.nomAdmin{
    font-size: 26px;
    padding-right: 20px;
    margin:0;
}

.deconnexion{
    font-size: 26px;
    margin: 0;
}



/* Pour le footer */
footer{
    position: relative;
    bottom: 0;
    width: 100%;
}

.blockFooter {
    padding: 0 50px 0 50px;
    background-color: orange;
    display: flex;
    justify-content: space-between;
}

.navigationFooter{
    display: flex;
    list-style-type : none;
}

.copyright{
    color: black;
}

.lienFooter{
    display : inline-block;
    padding-right: 50px;
    text-decoration:none;
    color: black;
}