
#image{
  width: 100%;
}

h1{
	text-align: center;
	margin-top: 0px;
}

.lesBoutons{
	display: flex;
	justify-content: center;
}

.bouton{
	border-radius: 30px;
	background-color: orange;
    border: solid orange;
	color: white;
	padding: 20px;
	margin-left: 30px;
	font-size: 20px;
}

.bouton:hover{
	background-color: white;
	color: orange;
	cursor: pointer;
}








